

html.rtl {background-color: #7e2b57;}
 
:root {  
        --color-general: #6f043c;
        --color-drop: #63646d;
        --color-Headline: #6f043c;
        --color-body: #eee;          
        --color-footerhoverback: #77425e;
                  }
 
/*======Fonts======*/

@font-face { 
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tfoot,th,thead,tt,u,ul,var
{padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;text-decoration: none}

form,textarea,input,button {-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}
dl,ul{list-style-position:inside;list-style:none}
ul li{list-style:none }

caption,th{text-align:center}
img{max-width:100%; height: auto; border:none;position:relative;display:block}
a,a:visited{text-decoration:none}
.clearfix{clear:both;height: unset !important;line-height: unset !important; width: unset !important;}
.section,.widget,
.widget ul{margin:0;padding:0;}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a:focus,a:active{outline:0}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:0;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:serif;font-size:100%;line-height:1.15;margin:0;border:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing: border-box; padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
template{display:none}[hidden]{display:none}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
iframe{border:0}
input,textarea{outline:none;border:none;background:none;}
::selection {background-color:#4d033c; color: #fff;}
::-moz-selection {background-color:#4d033c; color: #fff;}
ul,li,ol{margin:0;padding:0;list-style:none;}
a,ul,li,input,:before,:after,img{transition: all 0.4s ease 0s;}
p{margin:0;}
.widget,.widget-content {position: relative;}
#Settings,.hidden,.replaced,.tags,.The-Preview .load-contain,.feed-links,.pill-button,.HideMenu {display:none;}

h1,h2,h3,h4,h5,h6{margin:0;}
h2#folww {
            width: 100%;
            text-align: center;
            color: #f3e2e2;
            font-weight: 600;
            font-size: 18px;
            }
.contact-form-email-message{display:block;width:100%;min-height:160px;border:1px solid #ddd;border-radius:4px;padding:5px 10px;background-color:#f8f8f8}
#ContactForm1_contact-form-submit{cursor:pointer;display:block;width:100%;height:60px;line-height:60px;color:#fff;font-size:120%;border-radius:4px;margin-top:10px}
.CForm input:focus,.contact-form-email-message:focus {border-color:#000}
#Contactus textarea {color: #000;line-height: 1.8em;height: 166px;}
#Contactus textarea:focus {color:#000;}

#Contactus .contact-form-error-message-with-border,.contact-form-success-message-with-border {
    font-size: 80%;
    line-height: 40px;
    position: absolute;
    z-index: 4;
    color: #fff;
    bottom: 58px;
    right: 27px;
    padding: 5px 10px !important;
    border: 1px solid #fff;
    box-shadow: 0 0 2px 2px #76b83f;
    background-color: #689f38;
}


#Contactus .form p {margin: 0;}
#Contactus .contact-form-error-message-with-border {background-color:#EC6767;color: rgba(0,0,0,.6);font-size: 15px;}
#Contactus .contact-form-success-message-with-border {background-color:#009625;}
#Contactus .contact-form-cross{display:block;background-color:#EC6767;padding:5px;border-radius:100%;position:absolute;top:-10px;left:-10px;border:2px solid #fff;box-shadow: 0 0 1px 1px #000;}
 
 
body * {line-height:1.8em; font-family: 'Readex Pro', sans-serif;}
body {
      max-width: 1120px;
      word-break: break-word;
      word-wrap: break-word;
      color: #000;
      margin: 0 auto;
      background-color: var(--color-body);
      padding: 0;
}

#Container {
            padding: 0 0 62px;
            min-height: 100vh;
            position: relative;
}

.MaxWid-header {
        max-width: 1100px;
        position: relative;
        margin: 0 auto;
        width: 1100px;
        clear: both;
        padding: 0;
       }

.MaxWid {
        max-width: 1100px;
        position: relative;
        margin: 0 auto;
        width: 1100px;
        clear: both;
        padding: 0;
       }

p#latest-articles {
    width: 99%;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #71023d;
    margin: 0 0 15px 0;
}


.MaxWid2 {
          max-width:100%;
          position: relative;margin: 0 auto;
          width: 98%;
		  clear: both;
          padding-top: 10px;
          }


.Thumbnail {
            display: block;
            position: relative;
            overflow: hidden;
            }
a {
    color: #000;
    text-decoration:none;
    margin:0;
    padding:0;
    word-break: keep-all;
}
a:hover {color:#666}

.Thumbnail img {
            width: 100%;
            object-fit: fill;
            z-index: 2;
            position: relative;
            display: table;
            margin: 0 auto 7px;
            border-radius: 5px 5px 0 0;
            padding: 0;
                    }
.Thumbnail img:hover {opacity: 0.8;}

.PTitle {
    width: 95%;
    height: auto;
    color: var(--color-general);
    margin: 0 auto;
    font-size: 15px;
     display: -webkit-box;
    -webkit-line-clamp: 2;
     line-height: 1.7em;
}

.Summarry1 {
    font-size: 15px;
    line-height: 1;
    color: #7b0032;
    margin: 10px 0 0 0;
    text-align: center;
    overflow: hidden;
    height: 38px;
}

.Summarry {font-size:90%;line-height:1.6em; color:#666;margin: 0 0 15px 0;}
.LinkList a {white-space: nowrap;}

 
.The-Preview .item .Aqsam,.The-Preview .item .MainTools {display: none;}
.errorp{text-align:center;padding:50px 0}
.errorp i {font-size: 125px;color: #c62e03;}
.errorp p{font-size:calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));margin:20px 0;}
  
#contact-dot{
                      display: block;
                      float: left;
                      width: 25%;
                      height: 40px;
                      margin: 0 auto;
                      padding: 5px 0 0 12px;
                      font-size: 15px;
                      text-align: left;
                      border-radius: 0 0 40px 0;
                      background-color: #ffd0e8;
                      border-bottom: 0.5px solid #d3d3d3;
                      }

span#coloredDot {
                              position: relative;
                              font-size: 35px;
                              top: -19px;
                              float: left;
                              left: 210px;
                          }

span#coloredDot2 {
                              position: absolute;
                              font-size: 32px;
                              float: left;
                              top: 21.7px;
                              left: 42.5px;
                              -webkit-text-stroke: 1px #eeeeee;
                            }

@media screen and (max-width : 980px) {
span#coloredDot {font-size: 22px; left: 210px; top: -6px;}
span#coloredDot2 {font-size: 20px; left: 40px; top: 35px;}
}
  
 /*-- الخدمات - المعرض - المقالات --*/
.xxx-h {  	 
            width: 90%;
            padding: 5px;
            margin: 0 auto 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

.xxx-h div {
                  padding:  0 8px 0 8px;
                  margin: 25px;
                 }

#item-h {
              width: 20%;
              text-align: center;
              padding: 0;
              flex-grow: 1;
              border-radius: 40px;
              border: 1px solid #7d6672;
             }

#title-h {
    margin: 10px 0 10px 0;
}

#caption-h {
    display: block;
    text-align: center;
    margin-top: 0;
    font-size: 19px;
    font-weight: bold;
    color: #261e22;
    text-decoration: none !important;
}
 
p#title-xxx-h {
    margin: 0 0 7px 0;
    color: #501f39;
    font-weight: bold;
}

img#imgxxx-h {
    width: auto;
    height: auto;
    display: table;
    margin: 0;
    opacity: 1;
    border-radius: 10px;
}

img#imgxxx-h:hover {opacity: 0.8;} 

@media screen and (max-width : 980px) {
.xxx-h {margin: 20px auto 0;}
#item-h {width: 98%;}
.xxx-h div {padding: 0 8px 0 8px; margin: 0 0 50px 0;}
}
  /*-- الخدمات - المعرض - المقالات --*/
 
 
 /*-- ماذا نقدم - الحماية --*/ 
#item2 {
    width: 90%;
    height: auto;
    float: none;
    display: table;
    margin: 50px auto 80px;
    text-align: center;
}
p#title-xxx2 {
    float: left;
    width: 68%;
    text-align: justify;
    font-size: 18px;
     margin: 2.5% 5px 0px 0;
 }
@media only screen and (max-width: 980px) {
  p#title-xxx2 {width: 100%; float: none; text-align: justify; font-size: 17px; margin: 15px auto;}
}
#item3 {
    width: 90%;
    height: auto;
    float: none;
    display: table;
    margin: 10px auto 25px;
    text-align: center;
} 
p#title-xxx3 {
    float: right;
    width: 65%;
    text-align: justify;
    font-size: 18px;
     margin: 7% 85px 0px 0%;
 }
@media only screen and (max-width: 980px) {
 p#title-xxx3 {width: 90%; float: none; text-align: justify; font-size: 17px; margin: 15px auto;}
}
 /*-- ماذا نقدم - الحماية --*/ 

 
 
 /*-- القائمة الجديدة --*/
  .menu-container {
              width: 130px;
              float: right;
              position: relative;
              text-align: center;
              margin: 12px 5px 0 0;
               }

    .menu-button {
			  width: 150px;
              height: 45px;
              background-color: #8e4e70;
              color: #f6f6f6;
              padding: 10px 10px;
              font-size: 15px;
              font-weight: 600;
              border: none;
              border-radius: 40px;
              cursor: pointer;
              font-family: Droid Arabic Kufi;
     }

    .menu-button:hover {background-color: #ae5182;}

    .dropdown-menu {
            display: none;
            position: absolute;
            width: 250px;
            top: 100%;
            right: 0;
            left: 0;
            background-color: #f0ebe5;
            border: 1px solid #dfdede;
            margin: 0 auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
 
    }

    .dropdown-menu button {
              display: block;
              width: 100%;
              padding: 12px;
              background-color: #fff;
              color: #3b001f;
              border: none;
              text-align: center;
              font-size: 15px;
               cursor: pointer;
              border-bottom: 1px solid #eee;
              transition: background-color 0.2s;
 
    }

    .dropdown-menu button:last-child {
      border-bottom: none;
    }

    .dropdown-menu button:hover {
      background-color: #dbbdcd;
    }

p#fasel-1 {
    background-color: #bf0f1d;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}
 /*-- نهاية القائمة  الجديدة --*/

header {
	height: 70px;
	padding:0;
	margin-bottom: 0px;
	background-color: var(--color-general);
 }

#Logo {
            float: right;
            max-width: 224px;
            height: 68px;
            overflow: hidden;
            margin: 3px 0 0 1px; 
            }
 #Logo img{
                    width:auto;
                    max-width: 84%;
                    height:auto;
                    max-height: 68px;
                   }
                   
 

#Logo h1{font-size:215%;height:60px;overflow:hidden;text-align:center;color:#fff600;font-weight:700;line-height:60px;}
#Logo h1 a{color:#fff}
.header-widget p, header .widget-title {display:none;}

#HideM{position:absolute;visibility:hidden}
#HideM + label span::before{display:none;content:"\f0c9";cursor:pointer;font:24px/32px fontawesome;text-align:center;float:right;margin-top:14px;color:#fff;width:32px;height:32px;position:relative;z-index:4;border-radius:2px;}
.ltr #HideM + label span::before{float:left}
#HideM:checked + label span::before{color:#444;background-color:#fff;}
#HideM:checked ~ .ShowMenu{display:block !important;}

#Social,#Social li{float:left}
.ltr #Social,.ltr #Social li{float:right}
#Social ul{margin-top:15px;margin-left: 17px;}
#Social li a{display:block;width:30px;height:30px;background-color:rgba(255,255,255,.3);text-align:center;line-height:30px;color:#fff;border-radius:2px;margin:7px 0 0 10px}
 
.Facebook::before {content: "\f09a";}
.Twitter::before {content: "\f099";}
.Youtube::before {content: "\f16a";}
.Instagram::before {content: "\f16d";}
.Linkedin::before {content: "\f0e1";}
.Whatsapp::before {content: "\f2ac";}

.Facebook:hover  {background-color: #3A589B !important;}
.Twitter:hover {background-color: #4ea8e8 !important;}
.Youtube:hover {background-color: #CF3427 !important;}
.Instagram:hover {background-color:#d6249f !important;}
.Linkedin:hover {background-color: #007BB5 !important;}
.Whatsapp:hover {background-color: #2FBA45 !important;}


#HideSearch{position:absolute;visibility:hidden}
#HideSearch + label span::before{content:"\f002";cursor:pointer;display:block;font:24px/32px fontawesome;text-align:center;float:left;margin-top:22px;color:#fff;width:32px;height:32px;position:relative;z-index:4}
.ltr #HideSearch + label span::before{float:right}
#HideSearch + label span:hover::before{color:#fff}
#TextSearch{position:absolute;left:3%;width:35%;background-color:#d9dcdf;height:40px;z-index:3;text-align:center;top:19px;opacity:0;visibility:hidden;color:#000;border-radius: 11px;}
.ltr #TextSearch{left:unset;right:0;}
#HideSearch:checked + label span::before{content:"\f00d";}
#HideSearch:checked ~ #TextSearch{visibility:visible;opacity:1;}
.ltr #HideSearch:checked ~ #TextSearch{left:unset;right:0}
  
main {
    float: right;
    width: 100%;
    padding: 0 0 0 240px;
    margin: 15px 0 20px 0;
}

.ltr main {float: left;	padding:0 350px 0 0;}

aside {
    float: left;
    margin: 15px -330px 20px 0;
    width: 20%;
}

 figure#fig-asid-1 {
    width: 99%;
    height: auto;
    margin: 0 auto 20px;
    text-align: center;
  }
 
    iframe#main-video {
                                      width: 200px;
                                      display: table;
                                      margin: 0 auto;
                                      border: 1px solid #007d85;
                                      }
  .yt-wrap {
                  position: relative;
                  width: 100%;
                  max-width: 800px;    
                  margin: 0 auto;    
                  aspect-ratio: 16 / 9; /* يدعم المتصفحات الحديثة */
                }
  .yt-wrap iframe {
                              position: absolute; inset: 0;
                              width: 100%; height: 100%;
                              border: 0;
                            }
 
.Headline {
            background-color: var(--color-Headline);
            padding: 10px;
            margin: 7px 0 0 0;
            border-radius: 7px 7px 0 0;
            text-align: center;
            font-size: 120%;
            color: #fff;
              }

#Main-Wrapper {margin-bottom: 3px;}
 
h1.post-title.entry-title {
                          width: 100%;
                          font-size: 14px;
    				      font-weight: 500;
                          display: table;
                          margin: 0 auto;
                          padding: 0;
                          }

.Posts {  
            display: block;
            float: right;
            width: 29%;
            height: 240px;
            margin: 20px 23px 20px 10px;
            padding: 0;
            background-color: #fff;
            text-align: center;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        }

.Posts .Thumbnail {
                  float: none;
                  width: auto;
                  height: auto;
                  margin: 0 auto;
                  display: table;
                    }

.ltr .Posts .Thumbnail {float:left;margin:0 -320px 0 0}

.Posts .PInfo {
               float:right;
               width:100%; 
                }

.ltr .Posts .PInfo{float:left;padding:0 0 0 330px}

#item .post-title .PTitle,.static_page .post-title .PTitle {
                  display: table;
                  width: 100%;
                  margin: 0 auto;
                  padding: 7px 2px;
                  background-color: var(--color-Headline);
                  color: #f1ece6;
                  font-size: 20px;
                  font-weight: bold;
                  font-family: Droid Arabic Kufi;
                  text-align: center;
                  border-radius: 5px 5px 0 0;
				  }

.post-body {
                  display: table;
                  width: 100%;
                  margin: 0 auto;
                  padding: 15px;
                  background-color: #e3e3e3;
                  border-radius: 0;
                  font-size: 17px;
                  color: #1a1a1b;
                  border-bottom: 0px solid #6f043c;
                  position: relative;
                  overflow: hidden;
                  line-height: 1.8em;
                  }

.post-body p {margin: 10px 0 20px 0;}
.post-body a {text-decoration:underline; margin: 0 !important;padding: 0 !important;color:#0b5394;}
.post-body a:hover {color:#d10606;}
.post-body img {height: auto !important;
    width: auto !important;
    max-height: 800px !important;
    max-width: 100% !important;
    display: unset;}

.post-body iframe{width:100%; height: 266px;}
.post-body :is(h1,h2,h3,h4){font-family: Droid Arabic Kufi;}

.post-body :is(h3){color: #990000}
.post-body :is(h4){color: #0b5394}


figure {
    width: 99%;
    height: auto;
    margin: 20px auto 20px;
    text-align: center;
}
figure img {
    max-width: 96%;
    height: auto;
    display: table;
    margin: 0 auto;
    border-radius: 8px;
}
figcaption {
    font-size: 16px;
    color: #494747;
}

.post-body h1{padding:15px 20px;margin:10px 0;font-size:120% !important;color:#fff;border-radius: 5px;}
.post-body h2{background-color:#ffc30530;padding:15px 20px;line-height:inherit;color:#990000;margin:10px 0;font-size:120% !important;border-radius: 5px;}
.post-body h3{border-right:7px solid #482f94;text-align:right!important;margin:10px 0;padding:5px;font-size:110% !important}
.ltr .post-body h3 {border-right:none; border-left:4px solid;text-align:left!important;}
.post-body h4::before{content:"\f046";float:right;font:22px/1.6em fontawesome;margin:0 0 0 5px;line-height: inherit;line-height: 20px;}
.ltr .post-body h4::before{float:left;margin:0 5px 0 0;}
.post-body h4{text-align:right!important;margin:25px 0 0 0;line-height: 2em;font-size: 18px;}
.ltr .post-body h4 {text-align:left!important;}

.post-body blockquote {
                                      background-color:#e1c7d1;
                                      padding:10px;
                                      margin:20px;
                                      position:relative;
                                      border-radius: 10px;
                                      }

.post-body ul li {text-align: right !important;list-style: disc;margin: 0 40px 17px 0;line-height: inherit;}
.ltr .post-body ul li {text-align: left !important;margin: 0 0 0 20px;}

.post-body ol{counter-reset:li;list-style:none;margin-right:0;padding-right:0; color: #000;}

.post-body ol li{text-align: right !important;clear:both;display:block;min-height:30px;margin:10px 0;line-height:30px; }
.ltr .post-body ol li {text-align: left !important;}
.post-body ol li::before{color:#990000;content:counter(li, decimal);counter-increment:li;font:bold 14px/30px tahoma;float:right;display:block;width:30px;text-align:center;height:30px;margin:0 0 0 8px;border-radius: 100%;}
.ltr .post-body ol li::before {float:left;margin:0 8px 0 0;}

/*-- جدول محتويات المقالات --*/
p#tapl {
              width: 50%;
              height: 50px;
              padding: 8px 8px 0 0;
              background-color: var(--color-general);
              color: #fff;
              text-align: center;
              cursor: pointer;
              border-radius: 15px;
              }
p#tapl:hover {background-color: #c3770d;}

ul#tocList {font-size: 16px;}

@media screen and (max-width : 980px) {
p#tapl {width: 99%;}
}

/* جميع الجداول */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  font-size: 90%;
}

/* رؤوس الأعمدة */
table thead tr {
  background-color: var(--color-general);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

/* جميع الخلايا */
table th, table td {
  padding: 12px 15px;
  border: 1px solid #d1d9e6;
  text-align: center;
}

/* الصفوف المتناوبة */
table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
  background-color: #fff5e7;
}

/* العمود الأول مميز */
table td:first-child {
  font-weight: bold;
  color: #9c0856;
}

/* باقي الأعمدة لون نص موحد */
table td:not(:first-child) {
  color: #333333;
}

/* نص مائل عند الحاجة */
table #em {
  font-style: italic;
}
  
@media screen and (max-width : 980px) {
table {font-size: 70%;}
}
 
#SharDate{border-top:1px solid #eee;margin:15px -15px 0;padding:15px 15px 0}
.PinfDate {float: right;height:45px;line-height: 32px;}
.PinfDate i {float: right;line-height: inherit;margin: 0 0 0 4px;}
.ltr .PinfDate i {float: left;margin: 0 4px 0 0;}
#Share,.ltr .PinfDate{float:left}
.ltr #Share {float:right;}
#Share ul,#Share li{list-style:none}
#Share li{float:left;margin:0}
#Share li a{text-decoration:none;width:32px;height:32px;line-height:32px;text-align:center;border-radius:2px;margin:0 5px 0 0 !important;color:#fff}

#Share .fa-facebook{background-color:#3A589B}
#Share .fa-twitter{background-color:#000}
#Share .fa-share-alt{background-color:#598D09}
#Share li a:hover {background-color:#000 !important;}

 

.social-links {
    display: table;
    margin: 0 auto;
 }
.social-links a {
    display: inline-block;
    margin: 0 20px;
    font-size: 40px;
    color: #e7c594;
 }




 
#Relate-Posts {         
              width: 100%;
              display: table;
              padding: 0;
              overflow: hidden;
              margin: 20px auto 20px;
              background-color: #d8d3c5;
			 		}

#CNRelated #RelMainD {margin:0 -4px;display: block;}
#CNRelated .RelD {
                  float: right;
                  width: 22.33%;
                  margin: 0 17px 13px 0;
                      }

.ltr #CNRelated .RelD {float:left;}

.Reltdv {
          margin: 6px 4px;
          background-color: #eeebeb;
          border-radius: 5px;
          height: 185px;
			}

.Reltdv .Thumbnail {
                    height:auto;
                    margin-bottom:5px;
                    display:block;
						}

#CNRelated .PTitle{overflow:hidden;font-size:95%;display:block;text-align:center;padding:0 4px;height:75px;line-height:1.6em}

#Relate-Posts .PWtitle {
                        width: 100%;
                        display: table;
                        height: 50px;
                        margin: 0 auto 20px;
                        background-color: var(--color-general);
                        overflow: hidden;
                        color: #fff;
                        padding: 11px 10px 2px 10px;
							}

.RelateTitle{font-size:100%}
.RelateTitle,.ltr .PinfLabl{float:right}
.PinfLabl,.ltr .RelateTitle {
    float: left;
    background-color: #ee9fc8;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.Reltdv .The-Title {                  
                    width: 95%;
                    margin: 0 auto;
                    height: 40px;
                    font-size: 13px;
                    font-weight: 600;
 					text-align: center;
                    color: #000;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.7em;
                   }

.PinfLabl i{float:right;line-height:inherit;margin:0 3px}
.ltr .PinfLabl i{float:left}

#blog-pager{
            display: table;
            margin: 0 auto;
            clear: both;
            overflow: hidden;
			padding: 18px 0 0 0;
            }

.Navigation1{float:left;right:-50%;position:relative}
.Navigation2{right:50%;position:relative}

.NavLink {
          display:block;
          height:48px;
          line-height:48px;
          background-color: var(--color-general);
          padding:0 10px;
          color:#fff;
          float:right;
          border-radius: 2px;
		  margin: 0 0 30px 0;
            }
.ltr .NavLink {float:left}
.NavLink:hover {background-color: #b4040c; color:#fff;}

.home-link{font-size:38px;font-size:38px!important;line-height:48px!important;width:48px;margin:0 auto!important;float:none;display:block!important;text-align:center;padding:0!important}

#Blog1_blog-pager-newer-link{float:right}
#Blog1_blog-pager-older-link{float:left}

.CnQem{float:right;min-width:42px;height:42px;margin:0  4px 0 5px;text-align:center;font-size:90%;font-weight:700;line-height:42px;border-radius: 100%;}
.ltr .CnQem {float:left;margin:0 5px 4px 0 ;}
.CnQem a{display:block;background-color:#fff;line-height:inherit;color:rgba(0,0,0,.6);border-radius: 100%;}
.CnQem a:hover,.CnQem0 {background-color:#15700e;color: #fff;}

#ContactForm1 {display:none;}
#Contactus #ContactForm1 {display:block;}
#Contactus {overflow: hidden; position: relative;margin: 30px auto;max-width:600px;}
.MailInfo,.Send{clear:both;display:block;width:100%;position:relative}
.CForm{height:60px;overflow:hidden;margin-bottom:10px;position:relative}
.CForm input{height:60px;line-height:60px;background-color:#f8f8f8;padding:0 40px 0 10px;margin-bottom:10px;border:1px solid #ddd;border-radius:4px;width:100%}
.ltr .CForm input{padding:0 10px 0 40px;}
.CForm label{position:absolute;right:10px;line-height:60px;font-size:24px}
.ltr .CForm label{right:unset; left:10px;}
 
p#comment-title {
    background-color: #08ab24;
    color: #fff;
    margin: 1px 2px 1px 2px;
    padding: 5px 10px 5px 28px;
    width: auto;
    float: right;
    border-radius: 5px;
}

#comments .PWtitle {display: block;height: 58px;padding: 15px;background-color:var(--color-general) ;color: #444;border-radius:0;clear: both;}
a#Acomment {color: #fff; margin: 0 10px 0 5px;}
#comments .PWtitle span {
                          display:block;
                          float:right;
                          color:#fff;
                          height:30px;
                          padding:0 5px;
                          margin:2px 0 0 5px;
                          background-color: #b44d83;
                          font:bold 14px/30px Arial;width:30px;
                          text-align:center;
                          border-radius: 100%;
								}

.ltr #comments .PWtitle span{float:left;margin:2px 5px 0 0;}
#CommentMessage{
background-color: #ebd7bb;
    padding: 4px;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    color: #312c2c;}
.comments-content{padding:15px;background-color: #fff;border-radius: 0 0 10px 10px;}
#Blog1_comments-block-wrapper{padding:15px;background-color: #fff;}
.comment {padding: 10px 0;border-bottom: 1px solid #eee;clear: both;overflow: hidden;position: relative;}
.comment-block {float: right;padding: 0 55px 0 0;}
.ltr .comment-block {float: left;padding: 0 0 0 55px;}
.comment .comment-timestamp {display: none;}
.comment:last-child {border: none;padding: 10px 0 0;}
.comments li:last-child {padding: 10px 0;border-bottom: 1px solid #eee;}
.comment-content{font-size:85%;line-height:1.7em;margin:0;min-height:48px}
.comment-header{font-size:90%;display:block;overflow:hidden;position:relative;line-height:18px}
.avatar-image-container{background: #ddd url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgyho-qYj-yG9DhL3U4_itcKz-yH-F3yEaQlOMlJN_3uPdxgJVLnlL4iL8NUYvIUIYWD47NiJUKLkO3OA8ohyKb_g4Icf-HLENUZVgqhIi7NFrFWyHX3Jotxmvu7AzVHzGt4vjYO18g1QqE/s0-e90-rw/Avatar.jpg) scroll top center/cover;float:right;width:48px;height:48px;background-color:#bbb;overflow:hidden;margin:0 0 0 -48px;position:relative;z-index:2}
.ltr .avatar-image-container{float:left;margin:0 -48px 0 0;}
.avatar-image-container img{width:100%;height:100%}
.user,.user a{float:right;font-style:normal;}
.ltr .user,.ltr .user a{float:left}
.datetime.secondary-text a{float:right;display:block;color:#777;font:12px/20px Arial;margin:0 5px 0 0}
.ltr .datetime.secondary-text a{float:left;margin:0 0 0 5px}
.comment-replies ol{border:1px solid #eee;overflow:hidden;clear:both}
.comment-replies .comment-block {padding: 0 45px 0 0;}
.ltr .comment-replies .comment-block {padding: 0 0 0 45px;}
.comment-replies .comment:first-child {padding:10px 0;}
.comment-replies .comment:last-child {border: none;padding: 10px 0;border:none;}
.comment-thread li .comment-reply {position: absolute;right: 0;width: 48px;background-color:#4285F4;height: 20px;text-align: center;top: 58px;font-size: 0;font-weight: bold;overflow: hidden;color: #fff;}
.comment-thread li .comment-reply::before {content: "\f122";font: 18px/22px fontawesome;}
.ltr .comment-thread li .comment-reply{right:unset;left:0;}
.thread-chrome .continue a{display:none;}
.thread-count a{position:relative;display:inline-block;background-color:#f8f8f8;padding:0 8px;border:1px solid #eee;height:22px;line-height:18px;top:2px;font-size:90%}
.thread-count a::after{content:"\f0dc";font:11px/16px fontawesome;margin:0 5px 0 0}
.ltr .thread-count a::after{margin:0 0 0 5px}
.thread-collapsed .thread-count a{background-color:#222222;color:#fff}
#comments .hidden,ol.thread-expanded{display:none}
.comment-replies .comment-thread{clear:both;display:block;position:relative}
.comment-replies .comment {border-bottom: 1px dashed #ddd;}
.comment-replies .comment-header{font-size:85%;line-height:15px;}
.comment-replies .avatar-image-container {width: 32px;height: 32px;border-radius: 100%;margin: 0 5px 0 -48px;}
.ltr .comment-replies .avatar-image-container {margin: 0 -48px 0 5px;}
.comment-replies .avatar-image-container img{border-radius:0}
.comment-replies .datetime.secondary-text a{line-height:16px;font-size:65%}
.comment-replies .comment-content{font-size:75%;line-height:1.6em;min-height:0}
#top-continue .comment-reply{position:relative;top:unset;right:unset;left:unset;padding:2px 12px;background-color:#4285F4;color:#fff;font-size:85%;margin:10px 0 0;clear:both;display:inline-block}
#top-continue .comment-reply:hover {background-color:#000;}
.item-control a{position:absolute;top:5px;font-size:0;background:url(https://resources.blogblog.com/img/icon_delete13.gif);width:13px;height:13px;left:5px}
.ltr .item-control a{left:unset; right:5px}
#comments .loadmore{height:40px}
#comments .loadmore a{display:block;background-color:#f8f8f8;text-align:center;height:36px;line-height:36px;margin:10px;cursor:pointer;border:1px solid #eee;width:200px}
.blog-author::before{content:"\f058";font:18px/20px fontawesome;margin:0 5px;float:right;}
.comment-replies .blog-author::before {font: 14px/15px fontawesome;}
.embed .comment-form {padding: 10px 10px 5px;background-color: #fff;border-radius: 0;}
.comments .footer a {display: block;height: 48px;line-height: 48px;text-align: center;color: #fff;font-size: 120%;font-weight: bold;border-radius: 0 0 10px 10px;}
.embed .comment-form a {display:none;}
#HTML50 {display:none;}
  
.PopularPosts .Thumbnail{float:right;width:100px;height:69px;margin:0 0 0 -100px}
.ltr .PopularPosts .Thumbnail{float:left;margin:0 -100px 0 0}
.PopularPosts .post{height:82px;margin-bottom:13px;font-size: 13px;text-align: justify;}
.PopularPosts .PTitle{float:right;width:100%;padding:0 110px 0 0;max-height:85px;overflow:hidden;color:#444;}
.ltr .PopularPosts .PTitle {float:left;padding:0 0 0 110px}
.LabeList li a{display:block;height:30px;line-height:30px;margin-bottom:10px;overflow:hidden;color:#444}
.LabeList .label-count{float:left;display:block;background-color:#444;color:#fff;width:30px;text-align:center;height:30px;line-height:30px;border-radius:100%;transition:all .4s ease}
.ltr .LabeList .label-count{float:right}
  

#footer { 
          width: 100%;
          height: auto;
          display: block;
          padding: 0;
          margin: 15px 0 0 0;
          position: absolute;
          overflow: hidden;
		  border-top: 10px solid #77425e;
          background-color: var(--color-general);
      }
		
 #iconfoot {
    display: table;
    margin: -10px auto;
  }
 

#rights {
    display: table;
    margin: 0 auto;
    width: auto;
    padding-bottom: 11px;
}

p#Cr-p {         
        margin: 0 0px 0 4px;
        padding: 10px 0 5px 0;
        text-align: center; 
        font-size: 100%;
        color: #fff;
        width: auto;
        float: right;
			} 
p#Copr {
    margin: 0;
    padding: 7px 0 0 0;
    font-family: fantasy;
    font-size: 100%;
    color: #fff;
    float: right;
} 
	
#credita {
          float: none;
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 12px;
          margin: 20px 0 22px 0;
			}


#credita a {
		    padding: 8px 15px 8px 15px;
            border-radius: 4px;
            display: inline;
            font-size: 15px;
            color: #fff;
            margin: 0 5px 0 5px;
            background-color: #77425e;
 		 	}
#credita a:hover {background-color: rgba(255,255,255,.3)} 

a#cun {
    text-align: center;
    display: table;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    padding: 0 0 50px 0;
}


#Cred,.ltr #CNMU {float: right;}
.ltr #Cred {float: left}
#Cred li{float:right;margin:0 0 0 2px;line-height:32px;font-size:90%;color: rgba(255,255,255,.7);}
.ltr #Cred li  {float:left;margin:0 2px 0 0}
#Cred li a {color:#fff;}
#CNMU {
        display: table;
        float: none;
        color: #8d9295;
        padding: 0 0 20px 0;
        border-radius: 2px;
        font-size: 12px;
        height: 24px;
        line-height: 22px;
        margin: 0 auto;
        text-align: center;
		}
 
a#toopp {
    margin-right: 0;
    position: fixed;
    bottom: 0px;
    float: right;
    z-index: 100000;
 }
 #toopp > img {width: 50px;}
 

/*زر الواتس*/
#whatsappbtn {
    height: 70px;
    position: fixed;
    bottom: 90px;
    left: 13px;
    width: 100px;
    z-index: 9999999999;
}
  svg#whatsappsvg {
    display: block;
    float: left;
    margin: 0 0 6px 0;
}

/*-- الأزرار داخل المشاركات  --*/
.zorar99 {width: 50%; margin: 0 auto; display: table;}

a#zorar {
    width: 100%;
    height: 50px;
    background-color: #0b5394;
    padding: 0;
    display: table;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    line-height: 3;
	border-radius: 10px;
}
a#zorar:hover {background-color:#b4040c;}
.zorar100 {width: 96%; margin: 2px auto; display: table;}

a#zorar120 {
    width: 100%;
    height: auto;
    background-color: var(--color-general);
    padding: 0;
    font-size: 14px;
    display: table;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    line-height: 3;
    border-radius: 10px;
}
a#zorar100:hover {background-color:#b4040c;}

#scrollToTopBtn {
   display: block;
   position: fixed;
   bottom: 20px;
   left: 13px;
   z-index: 99;
   background-color: #2488ff;
   color: white;
   border: none;
   border-radius: 50%;
   width: 55px;
   height: 55px;
   cursor: pointer;
   } 
    
    #scrollToTopBtn i {
        font-size: 24px;
        line-height: 50px;
    }

    
    .faq-accordion {
        max-width: 100%;
        margin: 20px auto;
        direction: rtl;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .faq-accordion details {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 8px;
        margin-bottom: 12px;
        padding: 15px;
        transition: all 0.3s ease;
        list-style: none; /* لإخفاء سهم المتصفح الافتراضي */
    }
     .faq-accordion details:hover {background-color: #ecbfbf;}
  
    /* إخفاء السهم الافتراضي في متصفحات سفاري وكروم */
    .faq-accordion summary::-webkit-details-marker {
        display: none;
    }
    .faq-accordion details[open] {
        border-right: 5px solid #00BFFF;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    }
    .faq-accordion summary {
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
        list-style: none;
        position: relative;
        padding-left: 35px; /* مساحة للسهم جهة اليسار */
        color: #333;
        display: block;
    }
    /* رسم السهم الجديد جهة اليسار */
    .faq-accordion summary::after {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: 8px;
        height: 8px;
        border-bottom: 2px solid #00BFFF;
        border-right: 2px solid #00BFFF;
        transition: all 0.3s ease;
    }
    /* دوران السهم عند الفتح */
    .faq-accordion details[open] summary::after {
        transform: translateY(-50%) rotate(-135deg);
        top: 60%;
    }
    .faq-accordion .answer-content {
        padding: 15px 5px 5px;
        line-height: 1.8;
        color: #555;
        border-top: 1px solid #eee;
        margin-top: 15px;
        font-size: 1rem;
    }
 

/* ========================================== التجاوب مع الهواتف =========================================*/
 
@media screen and (max-width : 980px) {

header {height: auto;padding:10px 0 10px; margin:0px; border-radius: 0;}
#contact-dot {width: 75%;}

#Logo {float: none; text-align: center; margin: 0 auto 5px;}
#Logo img {max-width: 100%; margin: 0 auto;}

.MaxWid-header {max-width: 97%; width: 99%;}
.MaxWid {max-width: 97%; width: 99%;}
 
main {float: non;width: 100%;padding:0; margin:15px 0 0 0;}
.Posts {width: 94%; height:auto; margin: 15px 10px 10px 0;}
.Posts .Thumbnail {width: 100%; height: auto;}
h1.post-title.entry-title {font-size: 17px;}
  
aside {width: 100%; margin-top:20px;}
 
 #HideM + label span::before {display:block;}
 #TextSearch {left:9%;width:79%}
 
.zorar99 {width: 98%; margin: 0 auto; display: table;}
}

/* ============================================*/
@media screen and (max-width : 600px) {
.Posts .PInfo,.ltr .Posts .PInfo {float:none;padding:10px 0;text-align: center;} 
#CNRelated .RelD {width: 44%;}
} 
/* ============================================*/
@media screen and (max-width : 450px) {
.Reltdv .Thumbnail {height: auto;}
}
 
